<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">


    <!-- Última versão CSS compilada e minificada -->
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Esperança Pets</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Menu inicial</a>
                    </li>
                    <li>
                        <a href="/inicio/menubanco">Menu anterior</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <br>
        <br>
        <br>

        <section id="listarcaes">
            <fieldset>
                <legend>Cães </legend>
                <table id="registros" class="table table-bordered table-striped table-condensed table-hover">
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Raça</th>
                        <th>Idade</th>
                        <th>Data de Cadastro</th>
                        <th colspan="2">Ações</th>
                    </tr>

                    <% for(i=0; i<caes.length; i++) { %>
                        <tr>
                            <td>
                                <%= caes[i].cao_codigo %>
                            </td>
                            <td>
                                <%= caes[i].cao_nome %>
                            </td>
                            <td>
                                <%= caes[i].cao_sexo %>
                            </td>
                            <td>
                                <%= caes[i].cao_raca %>
                            </td>
                            <td>
                                <%= caes[i].cao_idade %>
                            </td>
                            <td>
                                <%= caes[i].cao_dtcadastro %>
                            </td>

                            <td>
                                <a class="btn btn-primary btn-block" href=<%="/caes/editar/" + caes[i].cao_codigo%>>Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-block" href=<%="/caes/delete/" + caes[i].cao_codigo%>>Excluir</a>
                            </td>

                        </tr>
                        <% } %>

                </table>

                <a class="btn btn-success" href="/caes/novo">Novo</a>
            </fieldset>
        </section>


        <footer id="rodape">

        </footer>
    </div>
</body>

</html>